---
import Anchor from '../Anchor.astro'
import Icon from '../Icon.astro'
---

<section
  id="about"
  class="flex flex-col-reverse items-center justify-center bg-slate-500 px-5 py-20 md:flex-row md:gap-10 md:px-20 md:py-36 lg:gap-32"
>
  <div class="w-full text-lg tracking-wide md:w-[500pt]">
    <h2
      class="mb-10 mt-0 flex items-center gap-2 text-4xl font-semibold text-white"
    >
      <Icon name="info-square" class="size-16 text-6xl" /> About me
    </h2>
    <p class="leading-relaxed text-slate-200">
      Hello! My name is Romain and I enjoy building awesome websites that will
      shine on the internet. I started programming back in 2011 after high
      school with C++ and PHP. My first job after my Bachelor Degree was in a
      software company creating CMS and websites for libraries. I ended up
      moving to web development for its creativity, challenges and impact on
      customers.
      <br /><br />
      Fast forward a bit in 2021 during pandemic, I've used my job loss as a occasion
      to get better. I focused on personal projects to improve my skills and abilities
      to suggest the correct tool for a given need. I'm focused on NodeJS and React.
      Today I help a middle size company grow up by creating performant and modern
      web apps. I push my team forward with my warm support, positive attitude and
      devops methodology!
    </p>
    <span class="mt-10 block text-slate-100">
      Do you want to be my <span
        class="relative inline-block before:absolute before:-inset-1 before:z-0 before:block before:-skew-y-3 before:bg-orange-400"
        ><span class="relative">next customer?</span>
      </span> Feel free to <Anchor
        href="#contact"
        variant="rounded"
        colorScheme="dark"
      >
        contact me
      </Anchor>!
    </span>
  </div>
  <div class="m-10 w-1/2 rounded border-2 border-slate-100 md:w-[300px]">
    <img
      class="aspect-square w-full shadow brightness-90 duration-150 ease-in-out hover:-translate-x-4 hover:-translate-y-4 hover:scale-105 hover:rounded"
      src="/me.webp"
      alt="about me"
    />
  </div>
</section>
