---
import Anchor from '../Anchor.astro'
import Icon from '../Icon.astro'
---

<section id="carousel-section" class="py-20 bg-slate-50 dark:bg-slate-600">
  <div class="container mx-auto text-center">
    <h2 class="text-2xl md:text-4xl mb-10 font-semibold">
      Companies collaborations
    </h2>
    <div
      id="image-carousel"
      class="splide mx-auto my-20 animate-fadein xl:w-fit xl:px-20"
      aria-label="Projects image slider"
    >
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
          <Icon name="caret-right" />
        </button>
        <button class="splide__arrow splide__arrow--next">
          <Icon name="caret-right" />
        </button>
      </div>

      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide badge univirtual">
            <a href="https://www.univirtual.ch" target="_blank">
              <img
                src="https://www.univirtual.ch/fr/images/univirtual_logo.webp"
                alt="univirtual branding website"
                loading="lazy"
              />
            </a>
          </li>
          <li class="splide__slide badge univirtual">
            <a href="https://www.i-w-s-logiciel.com" target="_blank">
              <img
                src="https://www.i-w-s-logiciel.com/_next/image?url=%2Fimages%2Fiws_logo.webp&w=1920&q=90"
                alt="iws logiciel branding website"
                class="p-10"
                loading="lazy"
              />
            </a>
          </li>
          <li class="splide__slide badge decalog">
            <a href="https://www.decalog.net" target="_blank">
              <img
                src="https://www.decalog.net/img/logo-decalog2.png"
                alt="decalog branding website"
                loading="lazy"
              />
            </a>
          </li>
          <li class="splide__slide badge lc">
            <a href="https://www.lavandesetcompagnie.com" target="_blank">
              <img
                src="https://www.lavandesetcompagnie.com/img/logo-1637695046.jpg"
                alt="lavandesandcie branding website"
                loading="lazy"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      id="contact-me-for-next-project"
      class="translate-x-full duration-1000 ease-out"
    >
      <p
        class="text-xl text-slate-700 dark:text-slate-50 font-semibold text-center"
      >
        I'm looking forward to study your needs and ideas as my next project...
      </p>
      <Anchor
        variant="rounded"
        colorScheme="primary"
        href="#contact"
        override="my-5"
      >
        Contact me
      </Anchor>
    </div>
  </div>
</section>

<script>
  import '@splidejs/splide/css'
  import Splide from '@splidejs/splide'
  import { useObserver } from '../../hooks/useObserver'

  new Splide('#image-carousel', {
    fixedWidth: 300,
    fixedHeight: 200,
    gap: 50,
    rewind: true,
    pagination: false,
  }).mount()

  useObserver<HTMLAnchorElement>('#carousel-section', () => {
    const nextProjectDivEl = document.querySelector<HTMLDivElement>(
      '#contact-me-for-next-project'
    )
    if (!nextProjectDivEl) return

    nextProjectDivEl.classList.remove('translate-x-full', 'opacity-0')
    nextProjectDivEl.classList.add('animate-fadein')
  })
</script>

<style>
  .splide__slide {
    @apply overflow-hidden bg-white p-2 my-4 rounded shadow relative hover:shadow-lg;
  }

  .badge {
    @apply after:absolute after:w-32 after:h-fit after:bottom-4 after:-right-8 after:z-10 after:block after:text-white after:uppercase after:text-center after:text-xs after:-rotate-45 after:text-center after:p-1;
  }

  .decalog {
    @apply after:bg-red-700 after:content-["2014-2020"];
  }

  .lc {
    @apply after:bg-orange-700 after:content-["2015-2021"];
  }

  .univirtual {
    @apply after:bg-green-700 after:content-["2021-now"];
  }

  .splide__slide img {
    @apply w-full h-full object-contain;
  }
</style>
