---
import Icon from '../Icon.astro'
import FollowMe from '../social/FollowMe.astro'
const now = new Date()
---

<footer class="bg-slate-900 text-slate-400">
  <FollowMe />
  <section class="h-10 p-2 flex justify-center align-center gap-2">
    Copyright <Icon name="copyright" />
    Romain Gueffier - {now.getFullYear()}
  </section>
</footer>
