---
import {
  Icon3dCubeSphere,
  IconBrandGitlab,
  IconBrowserPlus,
  IconCode,
  IconGitPullRequest,
  IconPrompt,
  IconSeo,
} from '@tabler/icons'
import Button from '@/components/Button.astro'
import Anchor from '../Anchor.astro'
---

<section
  class="p-5 md:p-20 flex gap-5 items-center justify-around flex-col md:flex-row"
>
  <div class="md:text-left md:w-2/3">
    <small class="text-lg text-slate-500">
      Welcome to my <span class="text-orange-500">Portfolio</span> website
    </small>
    <h1 class="typewriter h-[150px] overflow-hidden">
      I'm <span class="job"></span><span class="cursor">|</span>
    </h1>
    <p class="md:text-xl font-light text-slate-600 dark:text-slate-400 py-2">
      I’m specializing in building great digital products. Currently, I’m
      focused on creating SAAS web applications, branding websites with spotless
      SEO and devops tools to improve companies results!
    </p>
    <div class="py-4 flex gap-4 items-center">
      <Anchor
        href="/downloads/romain-gueffier-cv.pdf"
        target="_blank"
        variant="rounded"
      >
        Download resume
      </Anchor>
      <Anchor href="#contact" variant="rounded" colorScheme="dark">
        Contact me
      </Anchor>
    </div>
  </div>
  <div>
    <Icon3dCubeSphere
      id="icon-cube"
      width="256"
      height="256"
      stroke={1}
      style={{ display: 'none' }}
    />
    <IconGitPullRequest
      id="icon-git"
      width="256"
      height="256"
      stroke={1}
      style={{ display: 'none' }}
    />
    <IconPrompt
      id="icon-prompt"
      width="256"
      height="256"
      stroke={1}
      style={{ display: 'none' }}
    />
    <IconBrandGitlab
      id="icon-devops"
      width="256"
      height="256"
      stroke={1}
      style={{ display: 'none' }}
    />
    <IconCode
      id="icon-code"
      width="256"
      height="256"
      stroke={1}
      style={{ display: 'none' }}
    />
    <IconBrowserPlus
      id="icon-browser"
      width="256"
      height="256"
      stroke={1}
      style={{ display: 'none' }}
    />
    <IconSeo
      id="icon-seo"
      width="256"
      height="256"
      stroke={1}
      style={{ display: 'none' }}
    />
  </div>
</section>
<script is:inline>
  function getRandomJob() {
    const jobs = [
      { label: 'a Full-Stack Developer', icon: 'prompt' },
      { label: 'a Web Developer', icon: 'code' },
      { label: 'an Application Architect', icon: 'cube' },
      { label: 'a Devops Geek', icon: 'devops' },
      { label: 'a Programming Teacher', icon: 'git' },
      { label: 'a Webmaster', icon: 'browser' },
      { label: 'a SEO consultant', icon: 'seo' },
    ]
    const randomIndex = Math.floor(Math.random() * jobs.length)
    return jobs.at(randomIndex)
  }

  function typeAnimationWriting(element, text = '', timeout, startOffset = 0) {
    if (!text) {
      const { icon, label } = getRandomJob()
      text = label
      document
        .querySelectorAll(`[id^="icon-"]`)
        .forEach((el) => (el.style.display = 'none'))
      document.querySelector(`#icon-${icon}`).style.display = 'block'
    }
    const firstLetter = text.charAt(0)
    setTimeout(() => {
      element.innerHTML += firstLetter
      text = text.slice(1)
      if (text.length > 0) typeAnimationWriting(element, text, timeout)
      else typeAnimationErase(element, timeout, 5000)
    }, timeout + startOffset)
  }

  function typeAnimationErase(element, timeout, startOffset = 0) {
    setTimeout(() => {
      element.innerHTML = element.innerHTML.slice(0, -1)
      if (element.innerHTML) typeAnimationErase(element, timeout)
      else typeAnimationWriting(element, '', timeout)
    }, 25 + startOffset)
  }

  const typewriterEl = document.querySelector('.typewriter > span')
  if (typewriterEl) {
    typeAnimationWriting(typewriterEl, '', 100, 1000)
  }
</script>
<style>
  .typewriter {
    @apply font-light text-3xl md:text-4xl lg:text-5xl py-2 font-mono tracking-wide leading-normal;
  }
  .typewriter .job {
    @apply text-orange-500 font-semibold whitespace-pre-line;
  }
  .typewriter .cursor {
    @apply text-orange-500;
    animation: blink-animation 0.75s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
</style>
