---
import Icon from '../Icon.astro'
import ThemeToggle from './navbar/ThemeToggle.astro'
---

<nav
  transition:persist
  class="container mx-auto flex flex-col items-center gap-5 py-5 md:flex-row"
>
  <div class="flex flex-1 items-center">
    <img src="/logo.webp" alt="logo" class="h-10 w-10 rounded" />
  </div>
  <ul class="menu">
    <li>
      <a href="/"><Icon name="home" class="size-8 text-3xl" /> Home</a>
    </li>
    <li>
      <a href="/#about"
        ><Icon name="info-square" class="size-8 text-3xl" /> About</a
      >
    </li>
    <li>
      <a href="/#contact"
        ><Icon name="mail" class="size-8 text-3xl" /> Contact</a
      >
    </li>
    <li>
      <a href="/blog"><Icon name="news" class="size-8 text-3xl" /> Blog</a>
    </li>
  </ul>
  <div
    class="fixed right-2 top-5 md:static md:flex-1 md:justify-end md:text-right"
  >
    <ThemeToggle transition:persist />
  </div>
</nav>
<style>
  .menu {
    @apply flex flex-1 items-center justify-center gap-5;
  }

  .menu > li > a {
    @apply flex items-center gap-1;
  }
</style>
