---
import Icon from '../Icon.astro'
import ThemeToggle from './navbar/ThemeToggle.astro'
---

<nav
  class="container mx-auto flex flex-col items-center gap-5 py-5 md:flex-row"
>
  <div class="flex flex-1 items-center">
    <img src="/logo.webp" alt="logo" class="h-10 w-10 rounded" />
  </div>
  <ul class="menu">
    <li>
      <a href="/"><Icon name="home" width="32" height="32" /> Home</a>
    </li>
    <li>
      <a href="#about"
        ><Icon name="info-square" width="32" height="32" /> About</a
      >
    </li>
    <li>
      <a href="#contact"><Icon name="mail" width="32" height="32" /> Contact</a>
    </li>
    <li>
      <a href="/blog"><Icon name="news" width="32" height="32" /> Blog</a>
    </li>
  </ul>
  <div
    class="fixed top-5 right-2 md:static md:flex-1 md:justify-end md:text-right"
  >
    <ThemeToggle />
  </div>
</nav>
<style>
  .menu {
    @apply flex flex-1 items-center justify-center gap-5;
  }

  .menu > li > a {
    @apply flex items-center gap-1;
  }
</style>
