---
export interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props as Props

import icons from '@tabler/icons'
const { IconArrowRight } = icons
---

<li
  class="shadow bg-slate-100 dark:bg-slate-600 dark:text-white rounded p-5 flex-grow flex-1"
>
  <a href={href}>
    <h2 class="text-2xl text-slate-500 dark:text-slate-300">
      {title}
      <IconArrowRight className="inline" />
    </h2>
    <p class="font-light">
      {body}
    </p>
  </a>
</li>
