---
import { IconSend } from '@tabler/icons'
import Button from './Button.astro'
import Input from './Input.astro'
import Textarea from './Textarea.astro'
---

<section id="contact" class="py-20 bg-slate-50 dark:bg-slate-800">
  <div class="w-1/3 mx-auto text-center">
    <h2 class="text-4xl">Contact</h2>
    <form
      id="contact-form"
      class="py-10 flex gap-5 flex-col items-center"
      novalidate
    >
      <Input type="text" placeholder="Fullname" name="fullname" />
      <Input type="email" placeholder="Email" name="email" />
      <Input type="phone" placeholder="Telephone" name="phone" />
      <Textarea placeholder="Message" name="message" />
      <Button
        variant="rounded"
        colorScheme="primary"
        type="submit"
        override="flex gap-2 items-center"
      >
        <IconSend /> Envoyer
      </Button>
    </form>
  </div>
</section>

<script>
  const contactFormEl = document.querySelector('#contact-form')
  if (contactFormEl) {
    contactFormEl.addEventListener('submit', async (event) => {
      event.preventDefault()

      let form = event.currentTarget as HTMLFormElement
      let data = new FormData(form)
      const plainFormData = Object.fromEntries(data.entries())

      const response = await fetch('http://localhost:3000/api/email', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
        },
        body: JSON.stringify(plainFormData),
      })

      const result = await response.json()
      console.log(result)
      form.reset()

      return false
    })
  }
</script>
