---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

export interface Props extends HTMLAttributes<'i'> {
  name: string
}

const { name, class: className, ...attributes } = Astro.props as Props
---

<div
  class={twMerge('inline-block size-4', `ti ti-${name}`, className)}
  {...attributes}
>
</div>
