---
import {
  IconAlphabetLatin,
  IconAt,
  IconCalendar,
  IconNumber,
  IconPhone,
  TablerIcon,
} from '@tabler/icons'

type InputType = 'text' | 'number' | 'date' | 'email'
export interface Props {
  type: InputType
  name: string
  id?: string
  placeholder?: string
  value?: string
  required?: boolean
  pattern?: string
  title?: string
}

type Icons = {
  [k in InputType]: TablerIcon
}

const { required = false, ...attributes } = Astro.props as Props
const icons: Icons = {
  text: IconAlphabetLatin,
  number: IconNumber,
  email: IconAt,
  date: IconCalendar,
  text: IconPhone,
}

const Icon = icons[attributes.type]
---

<label class="relative block w-full validation">
  <span class="sr-only">{attributes?.placeholder}</span>
  <span class="absolute inset-y-0 left-0 flex items-center pl-2">
    <Icon stroke={1} width={16} height={16} />
  </span>
  <input
    class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow focus:outline-none focus:border-slate-500 focus:ring-slate-500 focus:ring-1 sm:text-sm dark:bg-slate-700 dark:text-slate-100 dark:placeholder:text-slate-300"
    required={required}
    {...attributes}
  />
</label>

<style>
  .validation input:not(:placeholder-shown):invalid {
    @apply border-red-500 text-red-400 ring-red-500;
  }

  .validation input:not(:placeholder-shown):not(:focus):invalid {
    @apply animate-pulse;
  }
</style>
