---
import Icon from './Icon.astro'
type InputType = 'text' | 'number' | 'date' | 'email'
export interface Props {
  type: InputType
  name: string
  id?: string
  placeholder?: string
  value?: string
  required?: boolean
  pattern?: string
  title?: string
}

const { required = false, ...attributes } = Astro.props as Props
const icons: Record<InputType, string> = {
  text: 'a-b',
  number: 'sort-ascending-numbers',
  email: 'at',
  date: 'calendar-event',
}
---

<label
  class="validation relative block w-full rounded-md border border-slate-300 shadow transition-transform duration-300 [transition-timing-function:cubic-bezier(0.34,1.56,0.64,1)] focus-within:scale-105 focus-within:border-slate-500 focus-within:shadow-lg"
>
  <span class="sr-only">{attributes?.placeholder}</span>
  <span class="absolute inset-y-0 left-0 flex items-center pl-2">
    <Icon name={icons[attributes.type]} />
  </span>
  <input
    class="block w-full rounded-md bg-white py-2 pl-9 pr-3 placeholder:italic placeholder:text-slate-400 focus:outline-none focus:ring-1 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:placeholder:text-slate-300 sm:text-sm"
    required={required}
    {...attributes}
  />
</label>

<style>
  .validation input:not(:placeholder-shown):invalid {
    @apply border-red-500 text-red-400 ring-red-500;
  }

  .validation input:not(:placeholder-shown):not(:focus):invalid {
    @apply animate-pulse;
  }
</style>
