---
import {
  IconHome,
  IconInfoSquare,
  IconMail,
  IconMoon,
  IconSun,
} from '@tabler/icons'
import Button from './Button.astro'
import ThemeToggle from './navbar/ThemeToggle.astro'
---

<nav
  class="py-5 container mx-auto flex items-center gap-5 flex-col md:flex-row"
>
  <div class="flex-1 flex items-center">
    <img src="/logo.webp" alt="logo" class="w-10 h-10 rounded" />
  </div>
  <ul class="menu">
    <li><a href="/"><IconHome /> Home</a></li>
    <li><a href="#about"><IconInfoSquare /> About</a></li>
    <li><a href="#contact"><IconMail /> Contact</a></li>
  </ul>
  <div class="flex-1 justify-end text-right">
    <ThemeToggle />
  </div>
</nav>
<style>
  .menu {
    @apply flex-1 flex gap-5 justify-center items-center;
  }

  .menu > li > a {
    @apply flex gap-1 items-center;
  }
</style>
