---
import Button from '../../Button.astro'
import Icon from '../../Icon.astro'

import './styles.css'
---

<Button data-theme="auto" id="theme-btn" ariaLabel="Toggle color mode">
  <div class="dark"><Icon name="sun" class="size-8 text-3xl" /></div>
  <div class="light"><Icon name="moon" class="size-8 text-3xl" /></div>
  <div class="auto">
    <Icon name="sun-moon" class="size-8 text-3xl" />
  </div>
</Button>
<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const themeBtn = document.getElementById('theme-btn')
    if (themeBtn) {
      function handleThemeToggle() {
        console.log('change theme to', themeBtn.dataset.theme)
        localStorage.theme = themeBtn.dataset.theme

        switch (localStorage.theme) {
          case 'dark':
            themeBtn.dataset.theme = 'light'
            break
          case 'light':
            themeBtn.dataset.theme = 'auto'
            break
          default:
            themeBtn.dataset.theme = 'dark'
            break
        }
      }
      handleThemeToggle()
      themeBtn.addEventListener('click', handleThemeToggle)
    }
  })
</script>
<script>
  document.addEventListener('astro:after-swap', () => {
    let theme = undefined
    switch (localStorage.theme) {
      case 'dark':
        theme = 'dark'
        break
      case 'light':
        theme = 'light'
        break
    }

    if (theme) {
      document.documentElement.classList.add(theme)
    }
  })
</script>
